* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Courier New', Courier, monospace;
  color: $text-secondary;
}

html {
  background-color: #151515;  
}