// define backgroud colors

$bg-primary: #ededed;
$bg-secondary: hsla(240, 35%, 17%, 1);

// define text colors

$text-primary: hsla(240, 35%, 17%, 1);
$text-secondary: #ededed;
$text-link: hsla(360, 35%, 17%, 1);
$text-hover: hsla(120, 35%, 17%, 1);

//define border colors

$border-primary: #404040;

